{% extends 'users/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="block-main">
            <h1 class="h1">Сокра.тим</h1>
            <q>Довольно часто при общении в интернете люди пересылают друг другу ссылки. Иногда эти ссылки бывают длинными. Совсем иногда — очень длинными. Но почти всегда — слишком длинными. Для того чтобы избавиться от этой проблемы, был создан этот сайт. Да, я знаю, что таких тысячи, но этот же лучше!</q>
            <p>Для создания ссылки необходимо авторизоваться (сначала, конечно, зарегистрироваться, если вы ещё этого не сделали). Далее перейти в раздел "Ссылки" и заполнить два поля. В поле "Длинная ссылка" вставьте URL сайта, для которого хотите сократить ссылку. В поле "Сокращенная ссылка" введите желаемый адрес ссылки. <b>Обращаем ваше внимание - создать несколько одинаковых сокращенных ссылок нельзя!</b></p>
            <h3>Удачного пользования!</h3>
        </div>
    </div>
{% endblock %}